[submodule "LibAFL"]
	path = extern/LibAFL
	url = https://github.com/AFLplusplus/LibAFL.git
[submodule "AFLplusplus"]
	path = extern/AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "extern/dvcp"]
	path = extern/dvcp
	url = https://github.com/hardik05/Damn_Vulnerable_C_Program.git
[submodule "extern/honggfuzz"]
	path = extern/honggfuzz
	url = https://github.com/google/honggfuzz.git
[submodule "qemu-libafl-bridge"]
	path = extern/qemu-libafl-bridge
	url = https://github.com/AFLplusplus/qemu-libafl-bridge.git
